.gridContainer {
    display: grid;
    grid-template-rows: minmax(37px, auto);
    grid-template-columns: repeat(3, calc(100% / 3));
    background-color: #215B7A;
  }

.tooltip {
  z-index: 2;
  position: absolute;
  text-align: left;
  padding: 5px;
  background: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}

.legend {
    z-index: 1;
    position: absolute;
    text-align: left;
    padding: 5px;
    width: 180px;
    height: 215px;
    background: #e5e5e5;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    top: 20px;
    right: 20px;
}

.titles {
    border: solid #6AB1C7 1px;
    height: max-content;
    margin: 0;
    background-color: #6AB1C7;
}

.node {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 25px 25px 0 0;
    margin: 0 2px;
}

.chord {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 25px 25px 0 0;
    margin: 0 2px;
}


.vis1 {
    position: relative;
    border: solid #215B7A 2px;
    border-top: #6AB1C7 1px;
    grid-area: 2 / 1 / 3 / 2;
    background-color: #e5e5e5;
}

.vis2 {
    position: relative;
    border: solid #215B7A 2px;
    border-top: #6AB1C7 1px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e5e5e5;
}

.SvgThree {
    border: solid black 1px;
    display: flex;
    grid-area: 4 / 1 / 5 / 4;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
}

.info {
    border: solid black 1px;
    height: max-content;
    grid-area: 1 / 3 / 3 / 4;
    text-align: left;
    font-family: Helvetica;
    padding-left: 5px;
    background-color: #e5e5e5;
}

.introduction {
    border: solid black 1px;
    height: max-content;
    grid-area: 1 / 3 / 3 / 4;
    text-align: left;
    font-family: Helvetica;
    padding-left: 5px;
    background-color: #e5e5e5;
}

li { 
    margin: 10px; 
}

span.important {
    font-weight: 800;
    text-decoration: underline;
}