.navbar {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    overflow: hidden;
    text-align: left;
    float: left;
    padding: 0px 483px;
    text-decoration: none;
    font-size: 17px;
    background-color: #215B7A;
}

.navbar hover {
    background-color: #6AB1C7;
    color: white;
}

.navbar active {
    background-color: #c81919;
    color: #6AB1C7;
}
