.navbar {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    overflow: hidden;
    text-align: left;
    float: left;
    padding: 0px 26px;
    text-decoration: none;
    font-size: 17px;
}

.navbar hover {
    background-color: #ddd;
    color: black;
}

.navbar active {
    background-color: #c81919;
    color: white;
}
