.tooltip {
  z-index: 2;
  position: absolute;
  text-align: left;
  padding: 5px;
  /* font: 12px sans-serif; */
  background: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}

.legend {
  z-index: 1;
  text-align: left;
  position: absolute;
  right: 20px;
  top: 129px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  width: 12%;
  background: #e5e5e5;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}